version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
      target: ${TARGET:-development}
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/moneta
    ports:
      - "8080:8080"
    volumes:
      - .:/app_root
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  lint:
    build:
      context: .
      dockerfile: ./Dockerfile
      target: lint
    volumes:
      - .:/app_root

  test:
    build:
      context: .
      dockerfile: ./Dockerfile
      target: test
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres_test:5432/moneta_test
    volumes:
      - .:/app_root
    depends_on:
      postgres_test:
        condition: service_healthy

  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=moneta
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  postgres_test:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=moneta_test
    ports:
      - "5433:5432"
    volumes:
      - postgres_test_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  postgres_test_data:
